.weather-image {
  background-image: url("../../static/weather.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
  overflow: hidden;
}

.gutter-row {
  padding-top: 8px;
  padding-bottom: 8px;
}
.forecast {
  color: white;
}

.font-25-bold {
  font-size: 25px;
  font-weight: bold;
}

.font-13-bold {
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
}

.dflex-column-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dflex-row-between {
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
}

.forecast-wrapper {
  border-radius: 15px;
  padding: 5px;
  background-color: #2b2a2a;
}
