@import "~antd/dist/antd.css";

.App {
  width: 100vw;
  height: 100vh;
  background-color: #343d4b;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.box {
  background-color: #222831;
  width: 600px;
  height: 250px;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 24px 7px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 24px 7px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
}
